body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
}

header {
    position: relative;
    height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-background {
    background-image: url(../images/profilepg.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.header-content {
    background-color: #FAF9F6;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}
.logo{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}

.logo img {
    max-width: 100px; 
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    padding: 20px;
    margin-top: 200px;
}
.articles-list, .media-list {
    margin: 20px 0;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 8px;
}
div.item {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
form {
    display: inline;
}
button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
button:hover {
    background-color: #d32f2f;
}

.btn{
    padding: 15px 30px;
    border-radius: 50px;
    background: #FFE5B4;
    color:#555;
    margin-right: 10px;
    transition: opacity .4s ease;
}
.btn:hover{
    opacity: .6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-size: 1.2rem;
    color: #555; 
}