*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: auto;
}

header {
    position: relative;
    height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-background {
    background-image: url(../images/profilepg.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.header-content {
    background-color: #FAF9F6;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}

.container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* Adjust the gap between logo and form as necessary */
    background-color: #e9ebee;

}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Adjust width as necessary */
    text-align: center;
    margin-bottom: 300px;
    margin-top: 200px;
}

.form-group {
    margin-bottom: 15px;
}


input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333; /* Dark background for the button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

label {
    text-align: left;
    display: block; /* Ensure the label is on a new line */
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center; 
    color: #ffffff;
}

.logo{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}

.logo img {
    max-width: 100px; 
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.btn{
    padding: 15px 30px;
    border-radius: 50px;
    background: #FFE5B4;
    color:#555;
    margin-right: 10px;
    transition: opacity .4s ease;
}
.btn:hover{
    opacity: .6;
}






ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-size: 1.2rem;
    color: #555; 
}